<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			internalLogLevel="Off">

	<targets>
		<!-- Target 1: coloured console -->
		<target name="console" xsi:type="ColoredConsole" 
						layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}">
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
		</target>

		<!-- Target 2: file -->
		<target name="file" xsi:type="File" 
						fileName="logs/app-${shortdate}.log" 
						layout="${longdate} ${level:uppercase=true} ${logger} ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>

</nlog>
